<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	<bean class="xmlConfigList.BlankDisc">
		<constructor-arg value="熊"></constructor-arg>
		<constructor-arg value="熊出没"></constructor-arg>
		<constructor-arg>
			<list>
				<value>喜羊羊与灰太狼</value>
				<value>金刚葫芦娃</value>
				<value>西游记</value>
			</list>
		</constructor-arg>
	</bean>
</beans>
